{% extends "layout.html " %}
{% block body %}
    <div id="form_view">
        <form action="{% url 'loading' %}" method="POST">
            {% csrf_token %}
            <select id="cities" name="user_city" id="user_city">
                <option value="" type="default"></option>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}